@import url("https://fonts.googleapis.com/css2?family=Lexend:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-card: hsl(220.7, 56%, 9.8%);
  --color-background-light: #f1f5f9;
  --color-background-dark: hsl(222.2, 69.2%, 7.6%);
  --tab-p: 0;
}

@plugin "daisyui/theme" {
  name: "m3e";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: oklch(98% 0.02 289.39);
  --color-base-200: oklch(92% 0.04 303.76);
  --color-base-300: oklch(91% 0.05 303.76);
  --color-base-400: oklch(81% 0.1 297.03);
  --color-base-content: oklch(25% 0.14 290.1);
  --color-primary: oklch(25% 0.14 290.1);
  --color-secondary: white;
  --color-secondary-content: oklch(41% 0.1 294.98);
  --color-primary-content: oklch(25% 0.14 296.1);
  --color-accent: oklch(65% 0.25 160);
  --color-accent-content: oklch(40% 0.13 296.3);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);
}

.table-zebra {
  & tbody {
    & tr {
      &:where(:nth-child(even)) {
        background-color: var(--color-base-100);

        &:where([data-theme="dark"], [data-theme="dark"] *) {
          background-color: var(--color-card);
        }
      }
    }
  }
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, m3e;
}

@layer base {
  * {
    --font-display: "Lexend", sans-serif;
    /* border radius */
    --radius-selector: 1.5rem;
    --radius-field: 1.5rem;
    --radius-box: 1.5rem;
    --radius-button: 1.5rem;

    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    /* border size */
    --border: 0.02rem;
    --border-focus: 2px;
    --field-focus: 2px;

    /* effects */
    --depth: 0;
    --noise: 0;
  }
}

@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  font-family: var(--font-display);
}

.user-photo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-outline {
  border-color: var(--color-primary);
  color: var(--color-primary);
  background-color: transparent;
}
.btn-outline:hover {
  background-color: var(--color-primary);
  color: white;
}

.backdrop-blur-md {
  --tw-backdrop-blur: blur(14px);
}

.m-none {
  margin: 0 !important;
}

:root[data-theme="dark"] {
  background-color: var(--color-background-dark);
}

/* Hide scrollbar for Chrome, Safari and Opera */
main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
main {
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.hide-scrollbar {
  -ms-overflow-style: none !important;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
